$fieldOutlineWidth: 2px

input[type=text],
input[type=email],
input[type=password],
input[type=number]
  background-color: none
  background-image: none
  background: transparent
  background-color: transparent
  border: 0
  border-radius: 0
  box-shadow: none
  color: var(--#{$vustom-prefix}-color)
  font-family: 'Inter'
  font-size: 1rem
  font-weight: normal
  outline: none
  line-height: 1rem
  letter-spacing: 0
  padding: 0
  position: relative
  resize: none

input[type=password]
  font-size: .5rem
  letter-spacing: 2px

.field
  align-items: flex-end
  display: flex
  border: none
  position: relative
  & > .field-control
    width: 100%
    & > .field-control__body
      & > input
        background: var(--#{$vustom-prefix}-fill-1)
        border: 1px solid var(--#{$vustom-prefix}-fill-1-border)
        border-radius: 4px
        width: 100%
        padding: .5rem .75rem
    &.disabled
      opacity: .3
      border-bottom-color: transparent
    &:focus-within
      & .field-control__body
        & > input
          border-color: $info
          box-shadow: inset 0 0 0 1px $info !important
    @each $color, $map in $colors-map
      &.#{$color}
        & > .field-control
          & > label
            color: getColor($color, base) !important
          & > .field-control__body
            & > input
              border: 1px solid getColor($color, base)
              // box-shadow: inset 0 0 0 1px getColor($color, base)
        &:focus-within
          & .field-control__body
            & > input
              border-color: $info
              box-shadow: inset 0 0 0 1px $info !important

.field-control
  & > label
    display: block
    font-weight: 500
    margin-bottom: .5rem