@import '../../sass/style.sass'

.dropdown-container
  display: inline-block
  position: relative

.dropdown-activator
  cursor: pointer

.dropdown
  background: var(--#{$prefix}-fill)
  box-shadow: var(--#{$prefix}-shadow-3)
  border-radius: 6px
  padding: .35rem 0
  position: fixed
  max-width: 28rem
  min-width: 14rem
  z-index: 50
