$light-ratio: 20;
$dark-ratio: 10;
$invert-ratio: .85;

$primary: rgb(102, 11, 88);
$primary: rgb(66,161,240);
$secondary: rgb(217, 25, 198);
$success: rgb(31,221,166);
$danger: #c81212;
$alert: rgb(255,152,90);
$info: rgb(66,161,240);

$colors-map: (
  primary: (
    base: $primary,
    el: black,
    extra: black,
    invertBase: transparentize($primary, $invert-ratio),
    invertEl: darken($primary, 22)
  ),
  secondary: (
    base: $secondary,
    el: white,
    extra: rgb(67,77,95),
    invertBase: transparentize($secondary, $invert-ratio),
    invertEl: $secondary
  ),
  success: (
    base: $success,
    el: white,
    extra: lighten($success, $light-ratio),
    invertBase: transparentize($success, $invert-ratio),
    invertEl: rgb(10, 179, 130)
  ),
  danger: (
    base: $danger,
    el: white,
    extra: lighten($danger, $light-ratio),
    invertBase: transparentize($danger, .9),
    invertEl: #e62c2c
  ),
  alert: (
    base: $alert,
    el: white,
    extra: lighten($alert, $light-ratio),
    invertBase: transparentize($alert, $invert-ratio),
    invertEl: $alert
  ),
  info: (
    base: $info,
    el: white,
    extra: lighten($info, $light-ratio),
    invertBase: transparentize($info, $invert-ratio),
    invertEl: $info
  )
);
