h1
    font-size: 3rem
    font-weight: 900

h2
    font-size: 2.5rem
    font-weight: 800

h3
    font-size: 2rem
    font-weight: 700

h4
    font-size: 2rem
    font-weight: 600

h5
    font-size: 1.5rem
    font-weight: 500

h6
    font-size: 1.25rem
    font-weight: 500

$linkPaddingX: 3px
$linkPaddingY: 2px
$linkBackgroundOpacity: .2
$linkBorderRadius: 2px

.link
    color: var(--#{$vustom-prefix}-color)
    cursor: pointer
    font-weight: 500
    position: relative
    text-decoration: underline
    &::before
        background-color: var(--#{$vustom-prefix}-color)
        border-radius: $linkBorderRadius
        content: ''
        display: none
        opacity: $linkBackgroundOpacity
        position: absolute
        top: -$linkPaddingY
        left: -$linkPaddingX
        right: -$linkPaddingX
        bottom: -$linkPaddingY
    &:hover
        text-decoration: none
        &::before
            display: block