@import 'colors.scss'

$vustom-prefix: vustom !default

$color-h: 210
$color-s: 20

body
  --#{$vustom-prefix}-font-size-1: 11px
  --#{$vustom-prefix}-font-size-2: 13px
  --#{$vustom-prefix}-font-size-3: .875rem
  --#{$vustom-prefix}-font-size-4: 1rem
  --#{$vustom-prefix}-font-size-5: 1.125rem
  --#{$vustom-prefix}-font-size-6: 1.25rem
  --#{$vustom-prefix}-font-size-7: 1.5rem
  --#{$vustom-prefix}-font-size-8: 2rem
  --#{$vustom-prefix}-font-size-9: 2.5rem

body[theme=light]
  --#{$vustom-prefix}-fill: white
  --#{$vustom-prefix}-fill-1: hsl(240,2%,100%)
  --#{$vustom-prefix}-fill-2: hsl(240,2%,96%)
  --#{$vustom-prefix}-fill-3: hsl(240,2%,92%)
  --#{$vustom-prefix}-fill-4: hsl(240,2%,88%)

  --#{$vustom-prefix}-fill-hover: #F8F8F8
  --#{$vustom-prefix}-fill-1-hover: #F4F4F5
  --#{$vustom-prefix}-fill-2-hover: #D5D5D5
  --#{$vustom-prefix}-fill-3-hover: #D4D4D6
  --#{$vustom-prefix}-fill-4-hover: #BCBCC4

  --#{$vustom-prefix}-fill-border: #ECECEC
  --#{$vustom-prefix}-fill-1-border: #E3E3E3
  --#{$vustom-prefix}-fill-2-border: #EAEAEB
  --#{$vustom-prefix}-fill-3-border: #C6C6C6
  --#{$vustom-prefix}-fill-4-border: #9F9F9F

  --#{$vustom-prefix}-shadow-1: 0 0 3px rgba(0,0,0,.05)
  --#{$vustom-prefix}-shadow-2: 0 0 7px rgba(0,0,0,.1)
  --#{$vustom-prefix}-shadow-3: 0 0 9px rgba(0,0,0,.15)
  --#{$vustom-prefix}-shadow-4: 0 0 11px rgba(0,0,0,.2)
  --#{$vustom-prefix}-shadow-5: 0 0 13px rgba(0,0,0,.25)
  --#{$vustom-prefix}-shadow-6: 0 0 15px rgba(0,0,0,.3)
  --#{$vustom-prefix}-shadow-7: 0 0 17px rgba(0,0,0,.35)
  --#{$vustom-prefix}-shadow-8: 0 0 19px rgba(0,0,0,.4)
  --#{$vustom-prefix}-shadow-9: 0 0 20px rgba(0,0,0,.45)

  --#{$vustom-prefix}-color: hsl(200, 6%, 0%)
  --#{$vustom-prefix}-color-1: hsl(200, 6%, 10%)
  --#{$vustom-prefix}-color-2: hsl(200, 6%, 20%)
  --#{$vustom-prefix}-color-3: hsl(200, 6%, 30%)
  --#{$vustom-prefix}-color-4: hsl(200, 6%, 40%)
  --#{$vustom-prefix}-color-5: hsl(200, 6%, 50%)
  --#{$vustom-prefix}-color-6: hsl(200, 6%, 60%)
  --#{$vustom-prefix}-color-7: hsl(200, 6%, 70%)
  --#{$vustom-prefix}-color-8: hsl(200, 6%, 80%)

body[theme=dark]
  --#{$vustom-prefix}-fill: hsla(#{$color-h}, #{$color-s}%, 14%, 1)
  --#{$vustom-prefix}-fill-1: hsla(#{$color-h}, #{$color-s}%, 11%, 1)
  --#{$vustom-prefix}-fill-2: hsla(#{$color-h}, #{$color-s}%, 8%, 1)
  --#{$vustom-prefix}-fill-3: hsla(#{$color-h}, #{$color-s}%, 5%, 1)
  --#{$vustom-prefix}-fill-4: hsla(#{$color-h}, #{$color-s}%, 2%, 1)

  --#{$vustom-prefix}-fill-hover: hsla(#{$color-h}, #{$color-s}%, 20%, 1)
  --#{$vustom-prefix}-fill-1-hover: hsla(#{$color-h}, #{$color-s}%, 20%, 1)
  --#{$vustom-prefix}-fill-2-hover: hsla(#{$color-h}, #{$color-s}%, 20%, 1)
  --#{$vustom-prefix}-fill-3-hover: hsla(#{$color-h}, #{$color-s}%, 20%, 1)
  --#{$vustom-prefix}-fill-4-hover: hsla(#{$color-h}, #{$color-s}%, 20%, 1)

  --#{$vustom-prefix}-fill-border: hsla(#{$color-h}, #{$color-s}%, 20%, 1)
  --#{$vustom-prefix}-fill-1-border: hsla(#{$color-h}, #{$color-s}%, 20%, 1)
  --#{$vustom-prefix}-fill-2-border: hsla(#{$color-h}, #{$color-s}%, 20%, 1)
  --#{$vustom-prefix}-fill-3-border: hsla(#{$color-h}, #{$color-s}%, 20%, 1)
  --#{$vustom-prefix}-fill-4-border: hsla(#{$color-h}, #{$color-s}%, 20%, 1)

  --#{$vustom-prefix}-shadow-1: 0 0 5px rgba(0,0,0,.3)
  --#{$vustom-prefix}-shadow-2: 0 0 7px rgba(0,0,0,.34)
  --#{$vustom-prefix}-shadow-3: 0 0 9px rgba(0,0,0,.38)
  --#{$vustom-prefix}-shadow-4: 0 0 11px rgba(0,0,0,.42)
  --#{$vustom-prefix}-shadow-5: 0 0 13px rgba(0,0,0,.46)
  --#{$vustom-prefix}-shadow-6: 0 0 15px rgba(0,0,0,.5)
  --#{$vustom-prefix}-shadow-7: 0 0 17px rgba(0,0,0,.54)
  --#{$vustom-prefix}-shadow-8: 0 0 19px rgba(0,0,0,.58)
  --#{$vustom-prefix}-shadow-9: 0 0 20px rgba(0,0,0,.62)

  --#{$vustom-prefix}-color: white
  --#{$vustom-prefix}-color-1: hsl(200, 6%, 80%)
  --#{$vustom-prefix}-color-2: hsl(200, 6%, 70%)
  --#{$vustom-prefix}-color-3: hsl(200, 6%, 60%)
  --#{$vustom-prefix}-color-4: hsl(200, 6%, 50%)
  --#{$vustom-prefix}-color-5: hsl(200, 6%, 40%)
  --#{$vustom-prefix}-color-6: hsl(200, 6%, 30%)
  --#{$vustom-prefix}-color-7: hsl(200, 6%, 20%)
  --#{$vustom-prefix}-color-8: hsl(200, 6%, 10%)

@function getColor($scheme, $tone: base)
  @return map-get(map-get($colors-map, $scheme), $tone)
